@media (max-width: 800px) {
	.blok {
		flex-direction: column;
	}
}

@media (max-width: 670px) {
	.blok {
		flex-direction: column;
	}
}

@media (max-width: 370px) {
	.blok {
		flex-direction: column;
	}
}
