* {
	box-sizing: border-box;
}

.blok {
	max-width: 100%;
	margin: 0;
	font-family: "Lucida Console";
}

/*--Bagian Header--*/
.header {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: left-side;
  color: black;
  font-size: auto;
  font-style: bold;
}

/*-- Bagian Slideshow --*/
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/*-- Tombol Next & Previous Slideshow --*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/*-- Posisi tombol Next Slideshow --*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Efek hover tombol next slideshow --*/
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Text caption slideshow */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: right;
  background-color: #000;
  opacity: 0.7;
}

/* Number text slideshow */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Dots/bullets/indikator slideshow */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* animasi slideshow */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*--Bagian Navigasi--*/
#menu {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0px; 
  background-color: green;
  font-style: bold
}

#menu img {
  float: left;
}

#menu p {
	float: left;
	color: white;
	font-size: 20px;
	padding-left: 10px;
}

#menu a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height:
}

#menu a:hover {
  background-color: #ddd;
  color: black;
}

#menu a.active {
  background-color: #4CAF50;
  color: white;
}

/*--Bagian Utama (Main)--*/
.utama {
  color: black;
}

.blok-utama {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}

/*--Bagian Tubuh--*/
.tubuh {
  color: black;
}

.tubuh-materi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.materi-box {
  border: 1px solid #000;
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 5px auto;
}

.blok-tubuh {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  background-color: #F2F4F4;
}

.materi-img {
  border-radius: 10px;
  width: 250px;
  height: 150px;
  padding: 5px 5px;
}

/*--Bagian Tim--*/
.tim {
  color: black;
}

.blok-tim {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.tim-anggota {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 10px;
}

.tim-box {
  border: 1px solid #000;
  width: 250px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 5px auto;
}

.tim-img {
  width: 200px;
  height: 250px;
}

/*--Bagian Footer--*/
.footer {
  background-color: green;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}
